RewriteEngine On
#RewriteBase /path/

# rewrite all request to .php files to controller
RewriteCond %(REQUEST_FILENAME} !-f
RewriteRule ^(.*?)/(.*?)/(.*)$ controller.php?_controller=$1&_action=$2&_params=$3 [QSA,L]
RewriteRule ^(.*)/(.*)$ controller.php?_controller=$1&_action=$2 [QSA,L]
RewriteRule ^(.*)$ controller.php?_controller=$1 [QSA,L]
